@use "./variables";

#projects {
	background: variables.$cream;
	height: 80vh;
	ul {
		display: flex;
		justify-content: center;
		li {
			margin: 20px;
			background-color: variables.$light-blue;
			padding: 20px 0;
			h3, h4, p {
				padding-left: 20px;
			}
			h4 {
				font-family: variables.$button-font;
				font-size: 12px;
				text-transform: uppercase;
			}
			img {
				height: 200px;
			}

		}
	}
}