//Colours
$purple1: #fbdaff;
$purple2: #ffdafa;
$pink1: #ffdade;
$pink2: #ffdada;
$cream: #faf3e3;
$font-color: #2e3852;
$pale-orange:  #fadfb5;
$light-blue: #b5d0fa;
$dark-blue: #03436d;


//Font families
$heading-font: 'Poppins';
$body-font: 'Noto Serif Khojki';
$button-font: 'Noto Sans JP';

//Font size

$base-font-size: 125%;